@charset "UTF-8";



@media print {

* {
    margin: 0px;
    padding: 0px;

}



body {
   
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    margin: auto;

}

h1 {
    font: bolder 2em arial;
    text-align: center;
    margin: 50px;

}

h2 {
    
    font: bolder i.2em arial;
    margin: 20px;
    padding: 10px;
}


h2#nomeclatura {
    margin-top: 300px;
}

ul {

    margin-left: 80px;
}

p {
    text-align: justify;
    text-indent: 50px;
    padding: 10px;
    margin: 10px;
}

img {
    padding: 10px;
    display: block;
    margin: auto;
    text-align: center;
}

img#image1 {
    height: 300px;
}

img#imagegbic {
    height: 250px;
}

img#sfp {
    height: 300px;
}

img#tabela {
    height: 520px;
}

footer {
    text-decoration: none;
    text-align: center;
    margin-top: 600px;
    margin-bottom: 60px;
}

footer > h3#inst {
    display: none;

}
    
}

@media screen and (min-width: 992px) /*and (max-width: 1200px)*/ {

    * {
        padding: 0px;
        margin: 0px;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(19, 122, 240);
        margin-top: 20px;
    }
    
    body > section.comprimento {
        background-color: white;
        width: 70vw;
        margin: auto;
        border-radius: 15px;
        padding-left: 20px;
    }
    
    ul {
        padding-left: 150px;
    } 
    
    h1 {
        text-align: center;
        font: bolder 2em Arial;
        border-radius: 10px;
        background-color: rgba(135, 206, 250, 0.719);
        margin: 20px;
        margin-right: 40px;
     
    }
    
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 20px;
        background-color: lightskyblue;
        width: 350px;
        text-align: center;
    }
    
    p {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        padding: 20px;
        text-indent: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    img {
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    
    footer { 
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font: bolder 1.2em Arial;
        color: white;
    }
    
    footer > h3 > a {
        text-decoration: none;
        color: white;
    }
    
}

