@charset "UTF-8";


@media print {

* {
    margin: 0px;
    padding: 0px;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body > section.comprimento {
    background-color: none;
    width: 90vw;
    margin: auto;
    text-align: center;
}

h1 {
    font: bolder 2em arial;
    text-align: center;
    margin: 50px;
}

h2 {
    font: bolder 1.6em Arial;
    margin: 20px;
    width: 1000px;
    text-align: justify;
    text-indent: 50px;
}

h2#oqpode {
    margin-top: 130px;
    display: block;
    margin-bottom: 50px;
}

h2#sfph2 {
    margin-top: 120px;
}

h2#nomeclatura {
    display: none;
}

h2#tablecolors{
    margin-top: 120px;
}

ul {
    margin-left: 80px;
}

p {
    text-align: justify;
    text-indent: 50px;
    margin: 10px;
}

img#apc {
    margin-bottom: 30px;
}

img#image1 {
    height: 300px;
}

img#podeenaopode {
    height: 400px;
    margin-top: -30px;
    width: 600px;
    margin-bottom: 40px;   
}

img#imagegbic {
    height: 250px;
}

img#sfp {
    height: 400px;
}

img#cabo18a36 {
    height: 370px;
    margin: auto;
}

img#idcabo { 
    margin: 30px;
}

img#cabo48a144 {
    height: 370px;
}

img#tabelacorescabos {
    margin-top: 20px;
    margin-bottom: 50px;
    height: 600px;
}

img#tabela {
    text-align: center;
    margin: auto;
    height: 700px;
}


footer {
    text-decoration: none;
    text-align: center;
    margin-top: 680px;
    margin-bottom: 60px;
}

footer > h3#inst {
    display: none;
}
    
}

@media screen and (min-width: 950px) /*and (max-width: 1200px)*/ {

    * {
        padding: 0px;
        margin: 0px;
    }
    
    ul {
        padding-left: 180px;
    } 
    
    h1 {
        text-align: center;
        font: bolder 2em Arial;
        border-radius: 10px;
        background-color: rgba(135, 206, 250, 0.719);
        margin: 20px;
        margin-right: 40px;
     
    }
    
    h2 {
        font: bolder 1.5em Arial;
        padding: 5px;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        border-radius: 20px;
        background-color: lightskyblue;
        width: 350px;
        text-align: center;
    }
    
    p {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        padding: 20px;
        text-indent: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #podeenaopode {
        margin-top: 0px;
        margin-bottom: -100px;
    }

    img#tabela {
        text-align: center;
        margin: auto;
        height: 700px;
    }

    img#idcabo {
        margin-left: 180px;
        height: 250px;
        text-align: center;
    }

    
    footer { 
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font: bolder 1.2em Arial;
        color: rgb(255, 255, 255);
    }
    
    footer > h3 > a {
        text-decoration: none;
        color: white;
    }
    
    .tgrande {
        display: block;
    }

    img#tabelacorescabos {
        margin-top: 20px;
        margin-bottom: 50px;
        height: 600px;
    }

    img#desbalanceada {
        height: 380px;
        margin: auto;
    }

    img#balanceada {
        height: 350px;
        margin: auto; 
    }

    img#cabo18a36 {
        height: 370px;
    }
    
    img#cabo48a144 {
        height: 370px;
    }

    img#imagegbic {
        height: 300px;
    }

    img#podeenaopode {
        height: 400px;
        margin-top: -30px;
        width: 600px;
        margin-bottom: 40px;   
    }

}

